* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navContainer {
    background-color: black;
}
nav {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > .logo > svg{
    fill:  white;
}

.nav-link > ul {
    display: flex;
    justify-content: space-between;
    width: 428px;
    list-style: none;
}

.nav-link > ul > li > a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    
}

.nav-link > ul > li > a:hover {
    color: red;
}

.register > ul {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.register > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.register > ul > li:last-child > a {
    padding: 15px 20px;
    background-color: #DCD2D2;
    color: black;
}

/* ==============  header =============== */

header {
    height: 90vh;
    background-image: url('https://images.hdqwalls.com/download/retrowave-ap-2560x1600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-header {
    width: 50%;
    color: white;
    padding-top: 50px;
}

.text-header > h3 {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.text-header > h1 {
    font-size: 80px;
}

.text-header > p {
    width: 58%;
    font-size: 18px;
    margin-top: 15px;
    line-height: 24px;
    letter-spacing: 1px;
}

.text-header > a {
    text-decoration: none;
    color: black;
    background-color: #DCD2D2;
    padding: 20px 25px;
    display: inline-block;
    margin-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-container .img-container {
    width: 60%;
}
.header-container .img-container > img {
    width: 85%;
}

/* ==============  header =============== */

/* ==============  web-designs =============== */


.web-designs {
    background-color: #F8F8F8;
    padding: 40px 0;
}

.web-designs > h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 55px;
    width: 400px;
}

.web-designs > p {
    width: 510px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

.web-designs > ul {
    list-style: none;
    margin: 20px auto;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-designs > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
}
.web-designs > ul > li > a::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all ease 1s;
}

.web-designs > ul > li > a:hover::after {
    width: 100%;
}

.web-designs > .imgs-container {
    width: 85%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-designs > .imgs-container img {
    width: 400px;
}

/* ==============  web-designs =============== */

/* ==============  Flexible portfolios =============== */

.Flexible {
    background-color: #69a5a4;
    padding: 30px 0;
}

.Flexible > h2 {
    text-align: center;
    font-size: 55px;
    margin-bottom: 20px;
}

.Flexible > p {
    text-align: center;
    width: 555px;
    font-size: 20px;
    margin: 0px auto 25px;
}
.Flexible > a {
    margin: 0 41%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
}

.Flexible > a::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all ease 1s;
}

.Flexible > a:hover::after {
    width: 100%;
}

.Flexible > .back-img {
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
    width: 80%;
    height: 700px;
    margin: 25px auto;
    position: relative;
}

.Flexible > .back-img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 700px;
}


/* ==============  Flexible portfolios =============== */